body {
  background-color: lightblue;
}

#paragraph2 {
  background-color: white;
  border: 4px solid green;
  width: 70;
  padding: 25px 45px;
}

.blue{ 
  background-color: darkblue;
  color: white;
  padding: 18px 22px;
  border: 2px solid black;
}